body{background-color:white;
	font-family:'Open Sans', sans-serif ;
		margin-top: 50px;
	    }
	 
	    p{ color:black;
	    font-size:30px;
	    }
.demo h2{
	position: absolute;
	padding-left: 30px; 
	color: black;
	margin: inherit
}.menu {
	text-align: right; margin-right: 50px ;
}
	    #menu ul li{
	    margin:0;
	    padding:0;
	    text-align:center;
	    display:inline;    }
	 
	    #menu li a{
	    font-size:15px;
	    font-weight:bold;
	    color: black;
	    padding: 0 15px;
	    text-decoration:none;
	 
	    }
	 
#menu nav a:hover{
	border: 2px solid aqua;
	padding: 10px 10px;
	border-width: 2px; 
	transition-duration: 0.5s;
	background: aqua;
	border-radius: 5px
}
.noidung
{
	width: 1200px;
	height:720px;
}
.info1 p1{
	font-size: 25px;
	color: crimson;
	font-weight: bold;
	position: absolute;
	margin-top: 140px;
	margin-left: 580px;
}
.info1 p{
	font-size: 15px;
	color: gray;
	position: absolute;
	margin-top: 170px;
	margin-left: 580px;
	width: 500px;
	height: 300px;
}
.hinh{
	position: relative;
}
.hinh img{
	height:  450px;
	margin-top: 100px;
	position: absolute;
	margin-left: 150px;
	z-index: 1;
	border-radius: 10px;
	
}
.hinh .ovuong{
	height: 520px;
	width: 330px;
	margin-top: 70px;
	position: absolute;
	margin-left: 120px;
	background-color: deeppink;
 	border-radius: 7px;
}
